In [2]:
import pandas as pd

In [3]:
gas_model_dataset = pd.read_csv("heatmap_data.csv")

In [4]:
gas_model_dataset.drop("Unnamed: 0", axis=1, inplace=True)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
gas_model_dataset.columns

Index(['Depth_m', 'Operating cost', 'Total Downtime Hours', 'Oil(BBL)',
       'Gas(MCF)', 'Water(BBL)'],
      dtype='str')

In [7]:
features = ['Operating cost']
target = ['Gas(MCF)']

In [8]:
x = gas_model_dataset[features]
y = gas_model_dataset[target]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [10]:
lim = LinearRegression()
lim.fit(x_train, y_train)
y_pred = lim.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
y_score = r2_score(y_test, y_pred)

In [12]:
y_score

0.8214135499331265

In [13]:
y_pred

array([[60100.2962222 ],
       [64708.12762319]])

In [14]:
y_test

   Gas(MCF)
0     58632
1     64036